<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>模板继承</title>
    <style>
        * {
            margin: 0;
        }
        .nav {
            height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            background-color: burlywood;
        }
        .main{
            margin-top: 50px;
        }
        .menu{
            width: 20%;
            height: 100%;
            position: fixed;
            left: 0;
            background-color: cornflowerblue;
        }
        .content{
            text-align: center;
        }
    </style>
</head>
<body>

<div class="nav"></div>
<div class="main"></div>
<div class="menu"></div>
<div class="content center">
    {{block "content" .}}{{end}}{{/*block模块模板，之后的模板替换这部分就可以了*/}}
</div>

</body>
</html>